@use "~@material/ripple/common";
@use "~@material/segmented-button/styles";

.mdc-segmented-button {
    --mdc-ripple-color: var(--mdc-theme-primary, #6200ee);
    --mdc-segmented-button-unselected-container-fill-color: var(--mdc-theme-surface, #fff);
    --mdc-segmented-button-selected-container-fill-color: var(--mdc-theme-surface, #fff);
    --mdc-segmented-button-unselected-ink-color: var(--mdc-theme-on-surface, rgba(0, 0, 0, 0.87));
    --mdc-segmented-button-selected-ink-color: var(--mdc-theme-primary, #6200ee);
    --mdc-segmented-button-outline-color: var(--mdc-theme-text-icon-on-background, rgba(0, 0, 0, 0.38));
}
