@use "@material/switch/styles.scss";

@mixin assignValue($properties, $value) {
    @each $property in $properties {
        --mdc-switch-#{$property}: #{$value};
    }
}

.mdc-switch {
    @include assignValue(
        disabled-selected-handle-color disabled-selected-track-color disabled-unselected-handle-color
            disabled-unselected-track-color unselected-focus-state-layer-color unselected-hover-state-layer-color
            unselected-pressed-state-layer-color unselected-focus-track-color unselected-hover-track-color
            unselected-pressed-track-color unselected-track-color,
        var(--mdc-theme-on-surface, rgba(0, 0, 0, 0.87))
    );

    @include assignValue(
        disabled-selected-icon-color disabled-unselected-icon-color selected-icon-color unselected-icon-color,
        var(--mdc-theme-on-primary, rgba(255, 255, 255, 1))
    );

    @include assignValue(
        selected-focus-state-layer-color selected-handle-color selected-hover-state-layer-color
            selected-pressed-state-layer-color selected-focus-track-color selected-hover-track-color
            selected-pressed-track-color selected-track-color selected-focus-handle-color selected-hover-handle-color
            selected-pressed-handle-color,
        var(--mdc-theme-primary, #6200ee)
    );

    @include assignValue(
        unselected-focus-handle-color unselected-hover-handle-color unselected-pressed-handle-color
            unselected-handle-color handle-shadow-color,
        var(--mdc-theme-text-secondary-on-background, rgba(0, 0, 0, 0.54))
    );

    --mdc-switch-handle-surface-color: var(--mdc-theme-surface, #fff);

    .mdc-switch__track::before,
    .mdc-switch__track::after {
        opacity: 0.24;
    }

    .mdc-switch__track__background {
        border: none;
        border-radius: inherit;
        box-sizing: border-box;
        height: 100%;
        left: 0;
        position: absolute;
        width: 100%;
        background-color: var(--mdc-theme-surface, #fff);
        z-index: -1;
    }

    &:disabled .mdc-switch__track {
        opacity: 0.87;
    }
}
