@use "@material/tab/mdc-tab.scss";

.mdc-tab {
    --mdc-ripple-color: var(--mdc-theme-primary, #6200ee);
    .mdc-tab__icon {
        color: var(--mdc-theme-text-secondary-on-background, rgba(0, 0, 0, 0.54));
    }
    .mdc-tab__text-label {
        color: var(--mdc-theme-text-secondary-on-background, rgba(0, 0, 0, 0.54));
    }
}
