@use "@material/snackbar/mdc-snackbar.scss";

.mdc-snackbar__surface {
    background-color: var(--mdc-snackbar-surface, #333333);
    color: var(--mdc-snackbar-on-surface, rgba(255, 255, 255, 0.87));
    --mdc-ripple-color: var(--mdc-snackbar-on-surface, rgba(255, 255, 255, 0.87));
}

.mdc-snackbar__label {
    color: var(--mdc-snackbar-on-surface, rgba(255, 255, 255, 0.87));
}

.mdc-snackbar__action:not(:disabled) {
    color: var(--mdc-snackbar-primary, #bb86fc);
    --mdc-ripple-color: var(--mdc-snackbar-primary, #bb86fc);
}
