@use "@material/snackbar/mdc-snackbar.scss";

.mdc-snackbar__surface {
    background-color: var(--mdc-theme-surface, #333333);
}

.mdc-snackbar__label {
    color: var(--mdc-theme-on-surface, rgba(255, 255, 255, 0.87));
}

.mdc-snackbar__action:not(:disabled) {
    color: var(--mdc-theme-primary, #bb86fc);
    --mdc-ripple-color: var(--mdc-theme-primary, #bb86fc);
}
