@use "@material/top-app-bar/mdc-top-app-bar.scss";

.mdc-top-app-bar {
    position: sticky;
    background-color: var(--mdc-theme-surface, var(--mdc-theme-primary, #6200ee));
    color: var(--mdc-theme-on-surface, var(--mdc-theme-on-primary, rgba(255, 255, 255, 1)));

    .mdc-top-app-bar__action-item,
    .mdc-top-app-bar__navigation-icon {
        color: var(--mdc-theme-on-surface, var(--mdc-theme-on-primary, rgba(255, 255, 255, 1)));
    }
}

.mdc-top-app-bar--fixed {
    top: 0;
}
